:root {
    --header_hight: 168px;
    --nav_width: 84px;
    --nav_width_expanded: 320px;
    --dark_blue: #4744b6;
    --primary_blue:#9Ec4e2;
  }

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    height: 168px;
    background-color: #74AAD4;
    width: 100%;
}

.headerRow {
    height: 56px;
    width: 100%;
}

#HeaderRow1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#layoutPicker {
    height: 40px;
    width: 340px;
    background-color: #3b698D;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#month {
    text-align: center;
    width: 49%;
    cursor: pointer;
}
.active_layout {
    color: #FFF;
    font-size: 32px;
    transition: 0.3s;
}

#vertical_line_container {
    width: 2%;
}

#verticalLIne {
    width: 1px;
    height: 25px;
    background-color: #fff;
}

#week {
    text-align: center;
    width: 49%;
    cursor: pointer;
}

.unactive_layout {
    color: #BCBCBC;
    font-size: 20px;
    transition: 0.3s;
}

#HeaderRow2 {
    color: #fff;
    font-size: 35px;
    display: flex;
    flex-direction: row;
}

.third {
    height: 100%;
    width: 33.3%;
    display: flex;
    align-items: center;
}

#Third2 {
    justify-content: space-evenly;
}

.monthSwitchButton{width: 25%;
text-align: center;
cursor: pointer;
transition: transform 0.03s linear;}

#lastMonth:active {
    transform: translateX(-5px);
  }
#nextMonth:active {
    transform: translateX(5px);
  }

.thisMonth{width: 50%;
    font-size: 28px;
text-align: center;}

#Third3 {
    justify-content: end;
    padding-right: 20px;
    
}

#HeaderRow3 {
    background-color: var(--primary_blue);
    display: flex;
    flex-direction: row;
}

#empty {
    width: var(--nav_width);
    transition: 0.3s;
}

#empty.expanded {
    width: var(--nav_width_expanded);
}

#daysRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.day {
    width: 14.28%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.3s;
}

.day p {
    margin-bottom: 1px;
    font-size: 20px;
}

#side_navigation {
    width: 84px;
    height: 100%;
    background-color: #D7e2eb;
    position: fixed;
    top: 168px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

#side_navigation.active {
    width: 320px;
}

#side_navigation.active .button {
    display: block;
}


.button {
    box-sizing: border-box;
    width: inherit;
    border-top: 2px solid #fff;
    color: #FFF;
    text-align: center;
    font-size: 23px;
    display: none;
}

.button p {
    margin: 11px 0 0 0;
}


#button2 {
    height: 80px;

}

#username {
    color: #000;
}

#user_email {
    color: #8e9498;
    font-size: medium;
}

#button3 {
    height: 50px;
    background-color: #abb9c4;
}

#button4 {
    height: 50px;
    background-color:#3b698b ;
    position: fixed; 
    bottom: 0; 
    width: inherit;
}

.menu_button {
    display: inline-block;
    cursor: pointer;
    height: 70px;
    width: 50px;
    margin-right: 17px;

}


.bar {
    width: 100%;
    height: 7px;
    background-color: #333;
    margin: 10px 0;
    border-radius: 5px;
}

.calendar_day {
    border-color: #000;
    border: 1px;
}

#calendar_container {
    display: grid;
    transition: 0.3s;
}

#calendar_container {
    padding: 4px 4px 4px 4px;
    height: calc(100vh - var(--header_hight) - 8px);
    width:  calc(100% - var(--nav_width) - 8px);
    margin-left:var(--nav_width) ;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
}

#calendar_container.offset {
    margin-left:var(--nav_width_expanded) ;
    width:  calc(100% - var(--nav_width_expanded) - 8px);
}

.weekend {
    background-color: #abb9c4;
    text-align: center;
    font-size: 5vh;
    padding-top: 3vh;
    cursor: pointer;
}

.workday {
    background-color: #D9d9d9;
    text-align: center;
    font-size: 5vh;
    padding-top: 3vh;
    cursor: pointer;
}



#button1 {
    width: 100%;
    margin-top: 5px;
    margin-right: auto;
    display: flex;
    justify-content: end;
}


.menu_button.rotated { 
    transform: rotateZ(90deg);
    transition: 0.5s;
}

#log-in_main, #sign-up_main {
    height: calc(100vh - 100px);
    background-color: var(--primary_blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website_title {
    padding-top: 10vh;

    font-size: 15vh;
    width: 80vh;
    text-align: center;
}

.login {
    width: 60vh;
    align-items: left;
}

.title_login {
    margin-left: 90px;
    font-weight:bolder;
    font-size: 7vh;
}

.title {
    font-weight: bold;
    font-size: 3vh;
    padding-left: 30px;
    padding-top: 30px;
}

.form {
    width: 350px;
}

.space {
    background-color: white;
    width: calc(100% - 15px);
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: larger;
    padding-left: 15px;
}

.start_button {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--dark_blue);
    width: 100%;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3vh;
    line-height: 60px;
    text-decoration-line: none;
}

.or {
    font-weight: 10s;
    color: #6d6767;
    font-size: 20px;
    letter-spacing: 2px;
}

footer {
    background-color: white;
    height: 100px;
    text-align: center;
}

#footer_website_name {
    padding-top: 20px;
    font-size: 25px;
    
}

.sign-up {
    width: 60vh;
    align-items: left;
}

.title_sign-up {
    padding-top: 10vh;
    font-weight:bolder;
    font-size: 7vh;
}

.today {
    background-color: #4744b6;
    color: white;
}

.first_selected_day{
    background-color: blue;
}

.last_selected_day{
    background-color: blue;
}


.selected_day{
    background-color: blue;
}

.monthBefore {
    color: #bbbbbb;
    background-color: #eeeeee;
}

.monthAfter {
    color: #bbbbbb;
    background-color: #eeeeee;
}